
Buildx86/appel.pdb
Buildx86/appel.exe
.vs/appel2/v15/Server/sqlite3/storage.ide
.vs/appel2/v15/Server/sqlite3/db.lock
.vs/appel2/v15/.suo
.vs/appel2/v15/Server/sqlite3/storage.ide-shm
.vs/appel2/v15/Server/sqlite3/storage.ide-wal
appel2/obj/x86/Debug/appel.exe
appel2/obj/x86/Debug/appel.pdb
appel2/obj/x86/Debug/appel2.csproj.CoreCompileInputs.cache
appel2/obj/x86/Debug/appel2.csproj.FileListAbsolute.txt
appel2/obj/x86/Debug/appel2.csprojResolveAssemblyReference.cache
appel2/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/appel2/v14/.suo
appel2/obj/Debug/appel.exe
appel2/obj/Debug/appel.pdb
appel2/obj/Debug/appel2.csproj.FileListAbsolute.txt
appel2/obj/Debug/appel2.csprojResolveAssemblyReference.cache
appel2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Buildx86/appel.vshost.exe
appel2/obj/x86/Debug/appel.Resources.resources
appel2/obj/x86/Debug/appel2.csproj.GenerateResource.Cache
